/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/services/comprehend/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__FVESP {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page_boxStyle__Sa349 {
    background-color: #958C9B;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #404267;
    border-radius: 25px;
    text-align: center;

    width: 70%;
    height: 50%;
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: black;
    overflow-y: auto;
    text-align: left;
  }

  .page_uploadButton__sPv6o {
    top: 70%; 
    width: 10%;
    height: 5%;
    min-height: 20px;
    min-width: 150px;    

    margin-top: 20px;
    padding: 10px 20px;
    background-color: #404267;
    color: #cccccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
  }
  
  .page_fileName__7hykq{
    top: 75%;
    margin-top: 20px;
    position: absolute;
  }
