.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxStyle {
    background-color: #958C9B;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #404267;
    border-radius: 25px;
    text-align: center;

    width: 70%;
    height: 50%;
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: black;
    overflow: auto;
    text-align: left;
  }

  .uploadButton {
    top: 70%; 
    width: 10%;
    height: 5%;
    min-height: 20px;
    min-width: 150px;    

    margin-top: 20px;
    padding: 10px 20px;
    background-color: #404267;
    color: #cccccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
  }
  
  .fileName{
    top: 75%;
    margin-top: 20px;
    position: absolute;
  }
/* .main {
    min-height: 100vh;
    background-color: #161B33;
  }
  
  .mainHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    top: 10px;
    position: relative;
  }
  
  .leftHeader {
    display: flex;
    align-items: center;
  }
  
  .rightHeader {
    display: flex;
    align-items: center;
  }
  
  
  .body{
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
  }
  
  .box {
    width: 50%;
    height: 221px;
    border-radius: 40px;
    margin: auto;
    background: #A69CAC;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  
  .button{
    width: 35%;
    border-radius: 0;
    background-color: #474973;
    top: 10px;
  } */