/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/services/rekognition/rekognition.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.rekognition_main__T5SR0 {
    min-height: 100vh;
    background-color: #161B33;
}

.rekognition_navbar__5ioL4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: inherit;
    /* You can change the background color to your preference */
    color: white;
    /* You can change the text color to your preference */
}

.rekognition_navImage__fvmNb {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.rekognition_navImage__fvmNb:hover {
    text-decoration: underline;
}

.rekognition_navDiv__mc9k9 {
    display: flex;
}



.rekognition_navTitle__lDa3q {
    padding-top: 2px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-right: 20px;
}

.rekognition_navLink__NrfJF {
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-right: 20px;
}

.rekognition_mainBody__LHIz8 {
    display: grid;
    grid-template-columns: 40% 55%;
    justify-content: space-evenly;
    height: 60vh;
    margin-top: 5%;
}

.rekognition_bodyLeftBlob__WAtdj {

    border-radius: 40px;
    background-color: #A69CAC;
    text-align: center;
    vertical-align: middle;
}

.rekognition_blobText__AEb4S {
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;

}

.rekognition_bodyRightBlob__MW1KR {
    text-align: center;
    vertical-align: middle;
    border-radius: 40px;
    background-color: #A69CAC;
}

.rekognition_uploadBtn__2o6SQ {

    color: white;
    background-color: #474973;
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    border: none;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    margin-top: 3%;
}

.rekognition_previewImage__LG60s {
    margin: 5%;
    object-fit: contain;
    /* or use 'contain' if you want the whole image to be visible */
}

.rekognition_fileInputLabel__U5tQo {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    /* Choose a color that matches your design */
    border-radius: 5px;
    margin-right: 5%;
    color: white;
    background-color: #474973;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
}

.rekognition_fileInput__bPYya {
    display: none;
    /* Hide the default file input */
}

.rekognition_outputText__OO9El{
    font-family: monospace;
    font-size: large;
    padding: 2%;
}
