/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/services/page.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.page_Container__ggQN_{
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
}

.page_Card__HqPq5{
  position: relative;
  background-color: #958C9B;
  border-color: #14182E;
  border-radius: 25px;
  width: 30%;
  height: 70vh;
}

.page_Title__MaZbq{
  color:black;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
}

.page_Text__FDsDl{
  color:black;
  text-align: center;
  padding: 20px;
  padding-top: 20%;
  font-size: 1.2rem;
}
.page_Button__JZrTV{
  position: absolute;
  background-color: #404267;
  padding: 10px 20px;
  bottom: 5%;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none; 
  transition: background-color 0.3s ease; 
  text-align: center;

  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
