.Container{
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
}

.Card{
  position: relative;
  background-color: #958C9B;
  border-color: #14182E;
  border-radius: 25px;
  width: 30%;
  height: 70vh;
}

.Title{
  color:black;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
}

.Text{
  color:black;
  text-align: center;
  padding: 20px;
  padding-top: 20%;
  font-size: 1.2rem;
}
.Button{
  position: absolute;
  background-color: #404267;
  padding: 10px 20px;
  bottom: 5%;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none; 
  transition: background-color 0.3s ease; 
  text-align: center;

  width: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}